/*@media all and (min-width: 1600px)*/

body{
  font-size: xx-large;
}

h2{
  font-size: 50px;
}

section{
  padding-top: 150px;
  padding-bottom: 80px;
}

/*FOOTER*/
#contact{
  width: 500px;
}

.responsive-map iframe{
  height: 900px;
}

.input{
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 12px;
}
/*HEADER*/
.slidertext h1{
  font-size: 50px;
}

.slidertext a{
  font-size: 24px;
}

.navbar li a{
  color: #666666;
  text-decoration: none;
  padding: 28px 12px 28px 12px;
}

.navbar li a:hover{
  color: #222222;
  border-top: 4px solid #5CADD3;
}

@media all and (min-width: 1800px){
  .thumbnail{
    width: 480px;
  }

  .descr span{
    font-size: 28px;
  }

  .portfolio-tabs button{
    font-size: x-large;
  }

  .portfolio-tabs button:focus i{
    bottom: -30px;
  }
}
